/* Resets */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* GLOBAL */

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  background-color: #f7f7f7;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: space-evenly;
}
a {
  color: black;
  text-decoration: none;
}

/* HEADER */

header {
  padding: 30px 0;
  background-color: #f96115;
}
.nav-menu {
  width: 35%;
}
.nav-item {
  margin-right: 20px;
}
.nav-item a {
  text-transform: capitalize;
  color: white;
}

/* HERO */

.hero {
  background-color: #d4cea7;
  padding: 30px 0;
}
.hero .flex {
  justify-content: space-between;
}
.list-type-1,
.list-type-2,
.list-type-3 {
  background-color: #005979;
  width: 30%;
  padding: 20px 50px;
  box-shadow: 15px 15px 15px rgb(78, 78, 78);
}
.list-type-1 ol,
.list-type-2 ol {
  list-style-type: decimal;
}
.list-type-2 ul {
  list-style-type: disc;
}
ol > ul {
  list-style-type: square;
  padding-left: 30px;
}
ul > ol {
  padding-left: 30px;
}
.fas {
  margin-right: 14px;
  color: black;
  font-size: 1.4rem;
  position: relative;
  top: 3px;
}
.hero li {
  padding: 10px 0;
  text-transform: capitalize;
  color: #d4cea7;
  font-weight: bold;
  font-size: 1.2rem;
}

/* MAIN-SECTION-2 */

.section-2 {
  background-color: #d4cea7;
  padding: 80px 0 40px;
}
dt {
  font-size: 2rem;
  margin-bottom: 10px;
}
dd {
  line-height: 1.5;
  margin: 15px 0 40px 40px;
}

/* FOOTER */

footer {
  background-color: #252c22;
  padding: 50px 0;
  font-size: 1.2rem;
}
